
<h1>Log in</h1>
<form name="login" action="/sessions" method="post">
   
  <p>
     username: <input id="username" name="username" type="text" />
  </p>
  <p>
       password: <input id="password" name="password" type="password" />
  </p>
 
<input name="submit" type="submit" value="submit" />
</form>
