<h1>Message add</h1>
<div class="container"> <div class="row"> <div class="span4">
  <h1>Add Messages</h1>


<form name="create-message" method="post" action="/message/add">

	TITLE: <input type="text" name="title" id="title"><br/>
    MESSAGE: <textarea id="message" name="message"></textarea>
 
 <br/><input name="submit" type="submit" value="Submit" />
</form>  
   

   </div></div></div> 
   
